  <div class="card mb-3" id="comment-<%=comment.id %>">
    <div class="card-body">
      <div class="card-body">
        AAAAA
        <p class="card-text"><%= comment.content%></p>
      </div>
    </div>
  </div>
