// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: https://sass-lang.com/
span {
  color: crimson;
}